<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        <h3>1. Start by thinking up a name for your</h3> blog You can name it after
        yourself (e.g. 'Katie Reads'), or invent a name that fits your vision
        for the blog or its special focus. For example, Chicklish got its name
        from its origins as a review site for romantic comedy books for
        teenagers, so 'a bit like chick lit'.
      </p>
      <br>
      <p>
       <h3>2. Decide which blogging platform to use</h3> 
        Two of the most popular free ones are Blogger and Wordpress.
        However there are many others out there - for example,Chicklish used Typepad.
      </p>

      <br>
      <p>
        <h3>3. Have a look at some existing blogs for inspiration</h3>
        Find a great list of UK blogs for inspiration on layout and themes,
         and decide what you want your site to look like. Most blogging software will prompt you to choose a template as soon as you register,
        but feel free to play around and try out different looks until you find one you like as it can usually be changed later.
      </p>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
